In [84]:
import pandas as pd
from packages.db_utils import get_engine

engine = get_engine()

query_string1 = 'SELECT * FROM "01_bronze"."raw_dwd_weather_stations_full"'
df_weather_stations = pd.read_sql(query_string1, engine)

In [85]:
df_weather_stations

       Stations_ID            Stationsname  ...     Beginn       Ende
0                1                    Aach  ... 1937-01-01 1986-06-30
1                1                    Aach  ... 1912-01-01 1986-06-30
2                2     Aachen (Kläranlage)  ... 1951-01-01 2006-12-31
3                3                  Aachen  ... 1950-04-01 2011-03-31
4                3                  Aachen  ... 1950-04-01 2011-04-01
...            ...                     ...  ...        ...        ...
20657        19917  Schwabenheim a.d. Selz  ... 2024-03-25 2024-07-10
20658        19917  Schwabenheim a.d. Selz  ... 2024-03-25 2024-07-11
20659        19917  Schwabenheim a.d. Selz  ... 2024-03-25 2024-07-10
20660        19977   Ebersbach-Cunnersdorf  ...        NaT        NaT
20661        19983           Ostrau-Döhlen  ... 2024-05-25 2024-06-05

[20662 rows x 11 columns]

In [86]:
df_weather_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20662 entries, 0 to 20661
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Stations_ID      20662 non-null  int64
 1   Stationsname     20662 non-null  object
 2   Kennung          20662 non-null  object
 3   Stationskennung  20662 non-null  object
 4   Breite           20662 non-null  float64
 5   Länge            20662 non-null  float64
 6   Stationshöhe     20662 non-null  int64
 7   Flussgebiet      10063 non-null  float64
 8   Bundesland       20662 non-null  object
 9   Beginn           20658 non-null  datetime64[ns]
 10  Ende             20658 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(2), object(4)
memory usage: 1.7+ MB

In [87]:
df_sel = df_weather_stations.query('Ende >= "2024-07-10 00:00:00.000" and Beginn <= "2018-10-01 00:00:00.000"')
df_sel = df_sel[["Stations_ID", "Stationsname","Breite", "Länge", "Bundesland","Beginn" ,"Ende"]]
df_sel

       Stations_ID                 Stationsname  ...     Beginn       Ende
14               6           Aalen-Unterrombach  ... 1982-11-01 2024-07-10
19              11  Donaueschingen (Landeplatz)  ... 1980-09-01 2024-07-10
20              11  Donaueschingen (Landeplatz)  ... 2008-12-03 2024-07-11
22              11  Donaueschingen (Landeplatz)  ... 2009-01-01 2024-07-10
31              19           Abtsgmünd-Neubronn  ... 1951-01-01 2024-07-10
...            ...                          ...  ...        ...        ...
19406        15989                       Leisel  ... 2018-08-20 2024-07-11
19408        15991        Schönenberg-Kübelberg  ... 2018-07-01 2024-07-10
19411        15994               Sukow-Zietlitz  ... 2018-10-01 2024-07-10
19713        19140                        Gotha  ... 1946-04-01 2024-07-10
20275        19478                Chemnitz (Ph)  ... 1977-04-06 2024-07-10

[5775 rows x 7 columns]

In [88]:
df_grouped = df_sel.groupby("Stations_ID").max().reset_index()
df_grouped

      Stations_ID                 Stationsname  ...     Beginn       Ende
0               6           Aalen-Unterrombach  ... 1982-11-01 2024-07-10
1              11  Donaueschingen (Landeplatz)  ... 2009-01-01 2024-07-11
2              19           Abtsgmünd-Neubronn  ... 1951-01-01 2024-07-10
3              20     Abtsgmünd-Untergröningen  ... 2004-08-12 2024-07-11
4              21       Achberg-Doberatsweiler  ... 1892-11-01 2024-07-10
...           ...                          ...  ...        ...        ...
2010        15989                       Leisel  ... 2018-08-20 2024-07-11
2011        15991        Schönenberg-Kübelberg  ... 2018-07-01 2024-07-10
2012        15994               Sukow-Zietlitz  ... 2018-10-01 2024-07-10
2013        19140                        Gotha  ... 1946-04-01 2024-07-10
2014        19478                Chemnitz (Ph)  ... 1977-04-06 2024-07-10

[2015 rows x 7 columns]

In [89]:
# Renaming the columns
df_grouped.rename(columns={
    'Stations_ID': 'station_id',
    'Stationsname': 'station_name',
    'Breite': 'latitude',
    'Länge': 'longitude',
    'Bundesland': 'state',
    'Beginn': 'begin',
    'Ende': 'end'
}, inplace=True)

In [90]:
df_grouped

      station_id                 station_name  ...      begin        end
0              6           Aalen-Unterrombach  ... 1982-11-01 2024-07-10
1             11  Donaueschingen (Landeplatz)  ... 2009-01-01 2024-07-11
2             19           Abtsgmünd-Neubronn  ... 1951-01-01 2024-07-10
3             20     Abtsgmünd-Untergröningen  ... 2004-08-12 2024-07-11
4             21       Achberg-Doberatsweiler  ... 1892-11-01 2024-07-10
...          ...                          ...  ...        ...        ...
2010       15989                       Leisel  ... 2018-08-20 2024-07-11
2011       15991        Schönenberg-Kübelberg  ... 2018-07-01 2024-07-10
2012       15994               Sukow-Zietlitz  ... 2018-10-01 2024-07-10
2013       19140                        Gotha  ... 1946-04-01 2024-07-10
2014       19478                Chemnitz (Ph)  ... 1977-04-06 2024-07-10

[2015 rows x 7 columns]

In [91]:
# Mapping of states to regions
state_to_region = {
    'SH': 'North',
    'HB': 'North',
    'NI': 'North',
    'MV': 'North',
    'HH': 'North',
    'HE': 'West',
    'NW': 'West',
    'RP': 'West',
    'SL': 'West',
    'SN': 'East',
    'ST': 'East',
    'BB': 'East',
    'TH': 'East',
    'BE': 'East',
    'BY': 'South',
    'BW': 'South',
    'T': 'South'
    }
df_grouped['region'] = df_grouped['state'].map(state_to_region) # Create a new column 'region' based on the mapping

col_order = ["station_id","station_name","latitude","longitude","state","region","begin","end"]
df_grouped = df_grouped[col_order]

In [92]:
df_grouped

      station_id                 station_name  ...      begin        end
0              6           Aalen-Unterrombach  ... 1982-11-01 2024-07-10
1             11  Donaueschingen (Landeplatz)  ... 2009-01-01 2024-07-11
2             19           Abtsgmünd-Neubronn  ... 1951-01-01 2024-07-10
3             20     Abtsgmünd-Untergröningen  ... 2004-08-12 2024-07-11
4             21       Achberg-Doberatsweiler  ... 1892-11-01 2024-07-10
...          ...                          ...  ...        ...        ...
2010       15989                       Leisel  ... 2018-08-20 2024-07-11
2011       15991        Schönenberg-Kübelberg  ... 2018-07-01 2024-07-10
2012       15994               Sukow-Zietlitz  ... 2018-10-01 2024-07-10
2013       19140                        Gotha  ... 1946-04-01 2024-07-10
2014       19478                Chemnitz (Ph)  ... 1977-04-06 2024-07-10

[2015 rows x 8 columns]

In [101]:
station_id_list =[183,662,691,853,1048,1358,5856,1684,1975,2290,2712,3015,3631,3668,3987,4271,4336,4393,4466,4928,5100,5404,5705,5792] 

# Removing rows where station_id is in the list
df_filtered = df_grouped[~df_grouped['station_id'].isin(station_id_list)]

In [104]:
# Function to sample up to the available number of station IDs in each state
def sample_stations(group, n=10):
    return group.sample(min(len(group), n))

# Group by state and sample station_ids from each state
sampled_df = df_grouped.groupby('state').apply(sample_stations).reset_index(drop=True)

In [107]:
sampled_df.station_id.tolist()

[735,
 1802,
 7079,
 3280,
 15567,
 5546,
 5643,
 880,
 2438,
 1517,
 403,
 397,
 396,
 433,
 400,
 426,
 398,
 2088,
 257,
 5562,
 2340,
 5664,
 7138,
 22,
 4175,
 7233,
 5993,
 4224,
 4827,
 801,
 5705,
 3291,
 3617,
 3435,
 3244,
 73,
 2376,
 691,
 701,
 2184,
 7410,
 3042,
 4277,
 9527,
 5225,
 15117,
 6303,
 1108,
 1420,
 1981,
 1228,
 954,
 1975,
 167,
 2272,
 7351,
 1694,
 3965,
 371,
 839,
 3090,
 4352,
 2578,
 3558,
 6093,
 15530,
 5357,
 891,
 4803,
 567,
 936,
 850,
 5822,
 7330,
 3264,
 2497,
 4313,
 5483,
 902,
 14174,
 1595,
 2027,
 325,
 4323,
 14034,
 7139,
 14318,
 15988,
 13778,
 200,
 161,
 173,
 14013,
 1666,
 5732,
 7298,
 5877,
 4732,
 1827,
 2115,
 2462,
 1130,
 2429,
 3545,
 4336,
 6217,
 3063,
 4490,
 3905,
 2331,
 3263,
 3625,
 5433,
 816,
 2928,
 2932,
 4023,
 1282,
 1207,
 6129,
 2463,
 314,
 1693,
 2878,
 7364,
 797,
 1945,
 7372,
 1949,
 2288,
 3126,
 4032,
 874,
 6301,
 6288,
 6343,
 6290,
 3304,
 7419,
 7368,
 2444,
 2965,
 379,
 1411,
 7421,
 882,
 366]

In [110]:
####################### get packages #######################

import requests_cache
import pandas as pd
from retry_requests import retry
from packages.db_utils import get_engine

# Create SQLAlchemy engine
engine = get_engine()
    
# Load data from the database using SQLAlchemy engine
query_string1 = 'SELECT * FROM "02_silver"."dim_active_weather_stations"'
active_stations = pd.read_sql(query_string1, engine)

query_string2 = 'SELECT * FROM "02_silver"."dim_weather_stations"'
used_stations = pd.read_sql(query_string2, engine)

used_ids = used_stations.station_id.unique()

# Removing rows where station_id is in the list
stations_filtered = active_stations[~active_stations['station_id'].isin(used_ids)]     

# Function to sample up to the available number of station IDs in each state
def sample_stations(group, n=10):
    return group.sample(min(len(group), n))

# Group by state and sample station_ids from each state
sampled_stations = stations_filtered.groupby('state').apply(sample_stations).reset_index(drop=True)
    
station_id = sampled_stations.station_id.to_list()    
stations_latitude = sampled_stations.latitude.to_list()
stations_longitude = sampled_stations.longitude.to_list()

sampled_stations

     station_id                       station_name  ...      begin        end
0           427                 Berlin Brandenburg  ... 2008-11-27 2024-07-11
1          3156                  Karstädt-Birkholz  ... 1969-01-01 2024-07-10
2          2621                       Kleinmachnow  ... 1969-01-01 2024-07-10
3          5108                            Tröbitz  ... 1969-01-01 2024-07-10
4          1519            Luckau-Fürstlich Drehna  ... 1951-01-01 2024-07-10
..          ...                                ...  ...        ...        ...
142        7328                             Ponitz  ... 2006-01-01 2024-07-11
143        4748                      Sondershausen  ... 2004-11-01 2024-07-11
144        2502  Heiligenstadt, Heilbad-Kalteneber  ... 1946-06-15 2024-07-10
145         756                     Mihla-Buchenau  ... 1991-01-01 2024-07-10
146        1317                     Friedrichsthal  ... 1948-01-01 2024-07-10

[147 rows x 8 columns]

In [114]:
sampled_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    147 non-null    int64
 1   station_name  147 non-null    object
 2   latitude      147 non-null    float64
 3   longitude     147 non-null    float64
 4   state         147 non-null    object
 5   region        147 non-null    object
 6   begin         147 non-null    datetime64[ns]
 7   end           147 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 9.3+ KB

In [121]:
import pandas as pd
from packages.db_utils import get_engine
    
#Get all active weather stations data
query_string1 = 'SELECT * FROM "02_silver"."dim_active_weather_stations"'
active_stations = pd.read_sql(query_string1,get_engine())

#Get all used weather stations ids
query_string2 = 'SELECT DISTINCT station_id FROM "01_bronze".raw_open_meteo_weather_history'
used_stations = pd.read_sql(query_string2,get_engine())

#Make unique to be sure
used_ids = used_stations.station_id.unique()

#Filter where station_id is in the list
stations_filtered = active_stations[active_stations['station_id'].isin(used_ids)]

#Write to database
stations_filtered.to_sql('dim_weather_stations', get_engine(), schema='02_silver', if_exists='replace', index=False)#

24

In [122]:
stations_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 46 to 1529
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    24 non-null     int64
 1   station_name  24 non-null     object
 2   latitude      24 non-null     float64
 3   longitude     24 non-null     float64
 4   state         24 non-null     object
 5   region        24 non-null     object
 6   begin         24 non-null     datetime64[ns]
 7   end           24 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 1.7+ KB